body {font-family: "Times New Roman";}


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.registration-form {
    font-family: Times New Roman;
    font-weight: normal;
}

.errors {
    display: none;
    color: red;
    text-align:center;
    font-family: Times New Roman;
    font-weight: normal;
    width:100%;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.change-errors {
    display: none;
    color: red;
    text-align:center;
    font-family: Times New Roman;
    font-weight: normal;
    width:100%;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.forum-errors, .comment-errors, .blognew-errors, .message-errors,
.friend-errors, .enemy-errors {
    display: none;
    color: red;
    text-align:center;
    font-family: Times New Roman;
    font-weight: normal;
    width:100%;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.activation-errors {
    display: none;
    color: red;
    text-align:center;
    font-family: Times New Roman;
    font-weight: normal;
    width:100%;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

/* Set a style for all buttons */
button {
    background-color: #f6f6f6;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.registration label {
    width: 250px;
}

.registration label.error, .registration input.submit {
    margin-left: 253px;
    margin-left: 10px;
    width: auto;
    display: inline;
} 

.forum-row, .blog-row {
    font-size:0.78em;
}
 
.blog-common-row {
    font-size:1.20em;
}

#newforumform label {
    width: 250px;
}

    #newforumform label.error, #newforumform input.submit, #newforumform input.button {
        margin-left: 253px;
    }

    #newforumform label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
    }

    #editforumform label {
        width: 250px;
    }

    #editforumform label.error, #editforumform input.submit, #editforumform input.button {
        margin-left: 253px;
    }

    #editforumform label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
    }

    #authenticateform label {
        width: 250px;
    }

    #authenticateform label.error, #authenticateform input.submit, #authenticateform input.button {
        margin-left: 253px;
    }

    #authenticateform label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
    }



    #newforumunauthform label {
        width: 250px;
    }

    #newforumunauthform label.error, #newforumunauthform input.submit, #newforumunauthform input.button {
        margin-left: 253px;
    }

    #newforumunauthform label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
    }


    #newunauthforumform label {
        width: 250px;
    }

    #newunauthforumform label.error, #newunauthforumform input.submit, #newunauthforumform input.button {
        margin-left: 253px;
    }

    #newunauthforumform label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
    }

    #newfriendform label {
        width: 250px;
    }

    #newfriendform label.error, #newfriendform input.submit, #newfriendform input.button {
        margin-left: 253px;
    }

    #newfriendform label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
    }

    #newenemyform label {
        width: 250px;
    }

    #newenemyform label.error, #newenemyform input.submit, #newenemyform input.button {
        margin-left: 253px;
    }

    #newenemyform label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
    }


    #newmessageform label {
        width: 250px;
    }

    #newmessageform label.error, #newmessageform input.submit, #newmessageform input.button {
        margin-left: 253px;
    }

    #newmessageform label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
    }

    #editprofileform label {
        width: 250px;
    }

    #editprofileform label.error, #editprofileform input.submit, #editprofileform input.button {
        margin-left: 253px;
    }

    #editprofileform label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
    }


    #newmessageunauthform label {
        width: 250px;
    }

    #newmessageunauthform label.error, #newmessageunauthform input.submit, #newmessageunauthform input.button {
        margin-left: 253px;
    }

    #newmessageunauthform label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
    }


    #newcommentform label {
        width: 250px;
    }

    #newcommentform label.error, #newcommentform input.submit, #newcommentform input.button {
        margin-left: 253px;
    }

    #newcommentform label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
    }

    #newcommentunauthform label {
        width: 250px;
    }

    #newcommentunauthform label.error, #newcommentunauthform input.submit, #newcommentunauthform input.button {
        margin-left: 253px;
    }

    #newcommentunauthform label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
    }


    #newblogform label {
        width: 250px;
    }

    #newblogform label.error, #newblogform input.submit, #newblogform input.button {
        margin-left: 253px;
    }
    #newblogform label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
    }

    #newblogunauthform label {
        width: 250px;
    }

    #newblogunauthform label.error, #newblogunauthform input.submit, #newblogunauthform input.button {
        margin-left: 253px;
    }
    #newblogunauthform label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
    }

    #editblogform label {
        width: 250px;
    }

    #editblogform label.error, #editblogform input.submit, #editblogform input.button {
        margin-left: 253px;
    }


    #editblogform label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
    }

    #changepassword label, .change-errors label{
        width: 250px;
    }

    .change-success, .sent-success, .recover-success, .profile-success., .registration-success, .resend-success {
        display:none;
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    .service-box {
        background:#f6f6f6;
        border: 1px #979797 solid;
        display:block;
    }

    .registration-errors label.error, .registration-errors input.submit, 
    .registration-errors input.button,
    .profile-errors label.error, .profile-errors input.submit, .profile-errors input.button, 
    .login-errors label.error, .login-errors input.submit, .login-errors input.button,
    .sent-errors label.error, .sent-errors input.submit, .sent-errors input.button,
    .change-errors label.error, .change-errors input.submit, .change-errors input.button, 
    #changepassword label.error, #changepassword input.submit, #changepassword input.button {
        color: #ff0000;
        font-size:0.9em;
        margin-left: 253px;
    }

    #changepassword label.error, .change-errors label-error, sent-errors label-error {
        margin-left: -0.5em;
        width: auto;
        min-width: 30.00em;
        font-size:0.9em;
        display: inline;
    }


/* Set a style for all buttons */
.search button {
    background-color: #f6f6f6;
    color: white;
    padding: 7px 10px;
    margin: 4px 0;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    width: 60%;
}

.search button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    margin: auto;
}
.modal-body {

}
/* Modal Content/Box */
.modal-content {
/*
 *     margin: 5% auto 15% auto; 
 *         border: 1px solid #888;
 *             width: 80%; 
 *                 position: absolute;
 *                     min-width:16em;
 *                     */
    min-width:26.00em;
    margin: auto;
}

.modaldialogue {
    display:none;
    min-width:20.00em;
    font-family: Times New Roman;
    font-weight: normal;
    
}
/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.change-password-modal {
    display:none;
}

.reset-password-modal {
    display:none;
}
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}

.footer {
    color:#333333;
    text-align: center;
    font-family: Times New Roman;
    font-weight: normal;
    font-size: 1.0em;
    padding-top:1.4em;
    padding-bottom:1.4em;
}

.footer a{
    text-decoration:none; 
}

.footer a:hover{
    text-decoration:underline;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
.header-pan {
   overflow:hidden;
   margin-top:0.1em;
   margin-left:0.1em;
   width:99.7%;
   min-height: 3%;
   min-width:44.8em;
   padding: 0.1em 0.1em 0.1em 0.1em;
   background: #f6f6f6;
   border-top: 1px solid #808080;
   border-left: 1px solid #808080;
   border-bottom: 1px solid #2c2c2c;
   border-right: 1px solid #2c2c2c; 
}
.header-pan-top {
   font-family: "Times New Roman";
   background: #f6f6f6;
}

.header-pan-middle {
   font-family: "Times New Roman";
   background: #f6f6f6;
   margin-bottom:-0.1em;
   overflow:hidden;
}
.header-pan-bottom {
   font-family: "Times New Roman";
   background: #eeeeee;
   min-height:1.8em;
   overflow:hidden;
}

.header-pan-bottom a {
   background: transparent;
   color: #333333;
   text-decoration:none;
}

.heade-pan-bottom a:hover {
   background: transparent;
   color: #333333;
   text-decoration:underline;
}
.submenu-item {
   float:left;
   font-family: "Times New Roman";
   float:left;
   display: block;
   text-align: center;
   padding-top: 0.2em;
   padding-bottom: 0.0em;
   padding-left:0.4em;
   padding-right:0.4em;
   min-width:7.00em;
   text-decoration: none;
   color: #333333;
}

.submenu-item a{
   color: #333333;
   text-decoration:none;
}

.submenu-item a:hover{
   color: #333333;
   text-decoration:underline;
}

.header-pan-menu {
   background: #eeeeee;
}

.header-pan-menu a {
   background: transparent;
   color: #f6f6f6;
   text-decoration:none;
}

.heade-pan-menu a:hover {
   background:#f6f6f6;
   color: #ffffff;
   text-decoration:underline;
}



.header-pan-left {
   float:left;
   width:76%;
   height:6%;
}
.header-pan-right {
   float:left;
   width:23.0%;
   height:6%;
}

.clear {
   clear:both;
}
.left {
   margin-right:0.0em;
   border-right: 1px solid #d89b7b;
   font-size:1.3em;
   font-family: Times New Roman;
   text-align:center;
}
.left-last {
   margin-right:0.0em;
   text-align:center;
   font-size:1.3em;
   font-family: Times New Roman;
}

.left a, .left-last a {
   text-decoration: none;
   font-family: Times New Roman;
   font-size: 10pt;
   color: #00008b;
}
.left a:hover, .left a:visited, left-last a:hover, left-last a:visited {
   text-decoration: underline;
   font-family: Times New Roman;
   font-size: 10pt;
   color: #660066;
}

.right {
   width:10%;
   margin-left:1.4em;
   float:right;
   margin-right:1.4em;
}
.right a {
   text-decoration: none;
   font-family: Times New Roman;
   font-size: 10pt;
   color: #666666;
}
.right a:hover, .right a:visited {
   text-decoration: underline;
   font-family: Times New Roman;
   font-size: 10pt;
   color: #660066;
}

.logo-love {
   margin-left:1.0em;
   color: #008000;
   font-family: Times New Roman;
   font-size: 1.5em;
   font-weight: normal;
   overflow: hidden;
   float: left;
   width:3.40em;
   min-width:3.40em;
}

.logo-hate {
   color: #8b0000;
   font-weight: normal;
   font-size: 1.50em;
   float: left;
   font-family: Times New Roman;
   overflow: hidden;
   width:4.6em;
}


.logo-and {
   color: #000000;
   font-weight: normal;
   font-size: 1.2em;
   float: left;
   padding-top:0.3em;
   padding-left:0.2em;
   padding-right:0.7em;
   font-family: Times New Roman;
   width:0.9em;
   overflow: hidden;
}

.love-rel {
   color: #008000;
   font-weight:bold;
}
.hate-rel {
   color: #8b0000;
   font-weight:bold;
}

.loves {
   margin-left:1.0em;
   color: #008000;
   font-family: Times New Roman;
   font-size: 1.2em;
   font-weight: normal;
   width:100%;
   overflow: hidden;
   text-align: center;
   border-bottom: 1px #979797 solid;
}

.column-header {
   font-size: 1.54em;
   padding-top: 0.54em;
   padding-bottom: 0.54em;
}

.blog-header {
   padding-top: 0.54em;
   padding-bottom: 0.54em;
   text-align:left;
   border-bottom: 1px #979797 solid;
   font-size: 1.0em;
}

.column-header-topic {
   font-size: 1.24em;
   padding-top: 0.24em;
   padding-bottom: 0.24em;
}

.loves-column-header-topic {
   color: #008000;
   font-weight: normal;
   font-family: Times New Roman;
   overflow: hidden;
   text-align: center;
   min-width:100%;
   width:100%;
   border-bottom: 1px #979797 solid;
   font-size: 1.0em;
   padding-top: 0.24em;
   padding-bottom: 0.24em;
}

.loves-column-header-topic a{
   color: #008000;
   font-weight: bold;
   font-family: Times New Roman;
   text-decoration:none;
}

.loves-column-header-topic a:hover{
   color: #008000;
   font-weight: bold;
   font-family: Times New Roman;
   text-decoration:underline;
}


.mehs-column-header-topic {
   color: #333333;
   font-weight: normal;
   font-family: Times New Roman;
   overflow: hidden;
   text-align: center;
   min-width:100%;
   width:100%;
   border-bottom: 1px #979797 solid;
   font-size: 1.0em;
   padding-top: 0.24em;
   padding-bottom: 0.24em;
}

.mehs-column-header-topic a{
   color: #333333;
   font-weight: bold;
   font-family: Times New Roman;
   text-decoration:none;
}

.mehs-column-header-topic a:hover{
   color: #333333;
   font-weight: bold;
   font-family: Times New Roman;
   text-decoration:underline;
}
.hates-column-header-topic {
   color: #8b0000;
   font-weight: normal;
   font-family: Times New Roman;
   overflow: hidden;
   text-align: center;
   min-width:100%;
   width:100%;
   border-bottom: 1px #979797 solid;
   font-size: 1.0em;
   padding-top: 0.24em;
   padding-bottom: 0.24em;
}

.hates-column-header-topic a{
   color: #8b0000;
   font-weight: bold;
   font-family: Times New Roman;
   text-decoration:none;
}

.hates-column-header-topic a:hover{
   color: #8b0000;
   font-weight: bold;
   font-family: Times New Roman;
   text-decoration:underline;
}



.mehs-column-header {
   color: #333333;
   font-weight: normal;
   font-family: Times New Roman;
   overflow: hidden;
   text-align: center;
   min-width:100%;
   width:100%;
   border-bottom: 1px #979797 solid;
   font-size: 1.54em;
   padding-top: 0.54em;
   padding-bottom: 0.54em;
}

.hates-column-header {
   color: #8b0000;
   font-weight: normal;
   font-family: Times New Roman;
   overflow: hidden;
   text-align: center;
   min-width:100%;
   width:100%;
   border-bottom: 1px #979797 solid;
   font-size: 1.54em;
   padding-top: 0.54em;
   padding-bottom: 0.54em;
}


.hates {
   color: #8b0000;
   font-weight: normal;
   font-size: 1.2em;
   font-family: Times New Roman;
   overflow: hidden;
   text-align: center;
   min-width:100%;
   width:100%;
   border-bottom: 1px #979797 solid;
}

.loves-messages {
   color: #008000;
   font-weight: normal;
   font-family: Times New Roman;
}

.mehs-messages {
   color: #333333;
   font-weight: normal;
   font-family: Times New Roman;
}

.hates-messages {
   color: #8b0000;
   font-weight: normal;
   font-family: Times New Roman;
}
.loves-messages a, .mehs-messages a, .hates-messages a, .neutral-messages a {
   color:#00008b;
   font-weight:bold;
   text-decoration: none;
}

.relationship a {
   color:#00008b;
   text-decoration: none;
}

.relationship a:hover {
   color:#00008b;
   text-decoration: underline;
}


.neutral-messages-regular a {
   color:#00008b;
   text-decoration: none;
}
.neutral-messages-regular a:hover {
   color:#00008b;
   text-decoration: underline;
}
.loves-messages a:hover, .mehs-messages a:hover, .hates-messages a:hover, .neutral-messages a:hover {
   color:#00008b;
   font-weight:bold;
   text-decoration: underline;
}


.mehs {
   color: #333333;
   font-weight: normal;
   font-size: 1.2em;
   font-family: Times New Roman;
   overflow: hidden;
   text-align: center;
   min-width:100%;
   width:100%;
   border-bottom: 1px #979797 solid;
}

.mehs a {
   color: #333333;
   text-decoration: none;
   font-weight: bold;
}
.mehs a:hover {
   color: #333333;
   text-decoration: underline;
   font-weight: bold;
}

.loves a {
   color: #008000;
   text-decoration: none;
   font-weight: bold;
}
.loves a:hover {
   color: #008000;
   text-decoration: underline;
   font-weight: bold;
}

.hates a {
   color: #8b0000;
   text-decoration: none;
   font-weight: bold;
}
.hates a:hover {
   color: #8b0000;
   text-decoration: underline;
   font-weight: bold;
}

.topics-header-mehs a {
   text-decoration: none;
   color: #333333;
}
.topics-header-mehs a:hover{
   color: #333333;
   text-decoration:underline;
}

.loves-profile {
   text-align:center;
   color: #008000;
   font-family: Times New Roman;
   font-size: 1.2em;
   font-weight: normal;
}

.loves-profile a{
   text-decoration:none;
   text-align:center;
   color: #008000;
   font-family: Times New Roman;
   font-size: 1.0em;
   font-weight: normal;
}

.loves-profile a:hover{
   text-decoration:underline;
   text-align:center;
   color: #008000;
   font-family: Times New Roman;
   font-size: 1.0em;
   font-weight: normal;
}

.loves-newcomment {
   text-align:center;
   color: #008000;
   font-family: Times New Roman;
   font-size: 1.2em;
   font-weight: normal;
}

.loves-topic {
   text-align:center;
   color: #008000;
   font-family: Times New Roman;
   font-weight: normal;
   font-size: 1.2em;
}
.loves-topic a, .hates-topic a, .mehs-topic a{
   color:#00008b;
   font-weight:bold;
   text-decoration: none;
}

.loves-topic a:hover, .hates-topic a:hover, .mehs-topic a:hover {
   color:#00008b;
   font-weight:bold;
   text-decoration: underline;
}


.hates-topic {
   text-align:center;
   color: #8b0000;
   font-weight: normal;
   font-size: 1.2em;
   font-family: Times New Roman;
}

.mehs-topic {
   text-align:center;
   color: #333333;
   font-weight: normal;
   font-size: 1.2em;
   font-family: Times New Roman;
}


.mehs-profile {
   text-align:center;
   color: #333333;
   font-weight: normal;
   font-size: 1.2em;
   font-family: Times New Roman;
}
.mehs-profile a{
   text-decoration:none;
   text-align:center;
   color: #333333;
   font-weight: normal;
   font-size: 1.0em;
   font-family: Times New Roman;
}



.mehs-newcomment {
   text-align:center;
   color: #333333;
   font-weight: normal;
   font-size: 1.2em;
   font-family: Times New Roman;
}

.hates-profile {
   text-align:center;
   color: #8b0000;
   font-weight: normal;
   font-size: 1.2em;
   font-family: Times New Roman;
}

.hates-profile a{
   text-decoration:none;
   text-align:center;
   color: #8b0000;
   font-weight: normal;
   font-size: 1.0em;
   font-family: Times New Roman;
}

.hates-profile a:hover{
   text-decoration:underline;
   text-align:center;
   color: #8b0000;
   font-weight: normal;
   font-size: 1.0em;
   font-family: Times New Roman;
}


.mehs-profile {
   text-align:center;
   color: #333333;
   font-weight: normal;
   font-size: 1.2em;
   font-family: Times New Roman;
}

.mehs-profile a{
   text-decoration:none;
   text-align:center;
   color: #333333;
   font-weight: normal;
   font-size: 1.0em;
   font-family: Times New Roman;
}

.mehs-profile a:hover{
   text-decoration:underline;
   text-align:center;
   color: #333333;
   font-weight: normal;
   font-size: 1.0em;
   font-family: Times New Roman;
}

.hates-newcomment {
   text-align:center;
   color: #8b0000;
   font-weight: normal;
   font-size: 1.2em;
   font-family: Times New Roman;
}

.links-profile a {
   color: #333333;
   text-decoration:none;
   font-weight:bold;
}
.links-profile a:hover {
   color: #333333;
   text-decoration:underline;
   font-weight:bold;
}


.loves-forum {
   margin-left:1.0em;
   color: #008000;
   font-family: Times New Roman;
   font-size: 1.54em;
   font-weight: normal;
}
.loves-forum a {
   color: #00008b;
   text-decoration:none;
   font-weight:bold;
}
.loves-forum a:hover {
   color: #00008b;
   text-decoration:underline;
   font-weight:bold;
}

.mehs-forum {
   color: #333333;
   font-weight: normal;
   font-size: 1.54em;
   font-family: Times New Roman;
}

.mehs-forum a {
   color: #00008b;
   text-decoration:none;
   font-weight:bold;
}
.mehs-forum a:hover {
   color: #00008b;
   text-decoration:underline;
   font-weight:bold;
}

.hates-forum {
   color: #8b0000;
   font-weight: normal;
   font-size: 1.54em;
   font-family: Times New Roman;
}

.hates-forum a {
   color: #00008b;
   text-decoration:none;
   font-weight:bold;
}
.hates-forum a:hover {
   color: #00008b;
   text-decoration:underline;
   font-weight:bold;
}

.logo-age {
   color: #8b0000;
   font-weight: normal;
   font-size: 0.80em;
   padding-left:0.3em;
   float: left;
   font-family: Times New Roman;
   overflow: hidden;
   margin-top:0.8em;
   min-width:3.0em;
   width:3.2em;
}

.spacer {
   width: 50em;
   float: left;
}

.seach-bar {
   width: 20em;
   float: left;
}

.search-button {
   width: 4em;
   float: left;
}

.search-field {
   width:6em;
   float: left;   
}
.search-spacer {
   min-width:0em;
   width: 10em;
}

.first {
   margin-left:2.0em;
}

.modal-login {
   z-index:99999999;
   position:absolute;
   width: 20%;
   min-width:14em,
   margin-left:40%;
   min-height: 70%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) !important;
   background: #eeeeee;
   border-top: 1px solid #808080;
   border-left: 1px solid #808080;
   border-bottom: 1px solid #2c2c2c;
   border-right: 1px solid #2c2c2c;  
}

.modal-register {
   z-index:99999999;
   position:absolute;
   position: absolute;
   width: 20%;
   height:60%;
   background: #eeeeee;
   border-top: 1px solid #808080;
   border-left: 1px solid #808080;
   border-bottom: 1px solid #2c2c2c;
   border-right: 1px solid #2c2c2c;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
}

.modal-header-title {
   float:left;
   width:95%;
   height: 5%;
   margin-left:1.0em;
   color: #000000;
   font-family: Times New Roman;
   font-size: 1.5em;
   font-weight: normal;
}

.modal-header-close {
   float:left;
   width:5%;
   height: 5%;
}



.menu-item {
    font-family: "Times New Roman";
    float:left;
    display: block;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left:0.2em;
    padding-right:0.2em;
    min-width:4.98em;
    text-decoration: none;
    color: #333333;
}
.menu-item a {
    font-family: "Times New Roman";
    text-decoration: none;
    color:  #333333;
}


.menu-item a:hover {
    font-family: "Times New Roman";
    text-decoration: underline;
    color:  #333333;
}

.mehs-item {
    padding-top:0.4em;
    padding-bottom:0.4em;
    font-family: Times New Roman;
    font-size: 1.54em;
    font-weight: normal;
}
.mehs-item a {
    font-family: "Times New Roman";
    text-decoration: none;
    color:  #333333;
}


.mehs-item a:hover {
    font-family: "Times New Roman";
    text-decoration: underline;
    color:  #333333;
}

.loves-item {
    padding-top:0.4em;
    padding-bottom:0.4em;
    font-family: Times New Roman;
    font-size: 1.54em;
    font-weight: normal;
    color: #008000;
    
}

.loves-item a {
    font-family: "Times New Roman";
    text-decoration: none;
    color:  #008000;
}


.loves-item a:hover {
    font-family: "Times New Roman";
    text-decoration: underline;
    color:  #008000;
}

.hates-item {
    padding-top:0.4em;
    padding-bottom:0.4em;
    font-family: Times New Roman;
    font-size: 1.54em;
    font-weight: normal;
}

.hates-item a {
    font-family: "Times New Roman";
    text-decoration: none;
    color:  #8b0000;
}


.hates-item a:hover {
    font-family: "Times New Roman";
    text-decoration: underline;
    color:  #8b0000;
}



/* Change the link color to #111 (black) on hover */
.active {
    font-family: "Times New Roman";
    background: #eeeeee;
    color: #333333;
}

.active a{
    color: #333333;
    text-decoration:none;
}

.active a:hover{
    color: #333333;
    text-decoration:underline;
}

.error {
    display: none;
    font-family: Times New Roman;
    color: #ff0000;
}

.pagination a.active {
    background-color: #F6F6F6;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.forum-entry {
   text-align:left;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   display:block;
}

.form-row {
   padding-top: 0.0em; 
   padding-bottom: 0.0em;
   display:block;
}
.comment-form-row {
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   display:block;
}

.private-form-row {
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   display:block;
}

.attitude-form-row {
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   display:block;
}

@media screen and (max-width: 1024px) {
   .container-forum {
      min-width:48.00em;
   }

   .container-forum .col-sm-4 {
       display:block;
       min-width:48.00em;
   }
}

@media screen and (max-width: 1028px) {
   .container-forum {
      min-width:48.00em;
   }

   .container-forum  .col-sm-4{
      display:block;
      min-width:12.00em;
   }
}

.header-row {
    margin-right: -15px;
    margin-left: -15px;
}
.footer-row {
    margin-right: 15px;
    margin-left: 15px;
}

.runner {
   width: 100%;
   font-size:1.0em;
   text-align:center;
   margin-top:0.2em;
   margin-bottom:-0.2em;
}
.logged-out {
   float:right;
   width:100%;
   overflow:hidden;
   padding-right:1.2em;
   margin-left:-1.2em;
   margin-top:0.2em;
   margin-bottom:-0.2em;
}

.typewriter span {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #333333; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #333333; }
}

.line-1{
    padding-top:1.4em;
    position: relative;
    width: 84em;
    margin: 0 auto;
    font-size: 1.0em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
    margin-bottom:-1.4em;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 10s steps(132) 1s 1 normal both,
             blinkTextCursor 1800ms steps(132) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 84em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
.bar {
    height: 18px;
    background: green;
}
