{% extends "base.html" %}
{% load static %}
{% block content %}

<div>
<br />
<br />
<br />
</div>
<div class="container-fluid registration-form">
<form  name="newmessageform" id="newmessageform">
{% if user.is_authenticated %}

<div class="row">

    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
     <div class="container-fluid" style="background:#f6f6f6;border: 1px #979797 solid;">

         <div class="row private-form-row">
             <div class="col-sm-4">
             </div>
             <div class="col-sm-8">
                    <div class=container-fluid" style="margin-left:0.4em;">

                               <div class="row">
                                    <label id="inlineFormInputGroup-recipient-error" class="error" for="recipient"></label>
                               </div>

                               <div class="row">
                                    <label id="inlineFormInputGroup-subject-error" class="error" for="subject"></label>
                               </div>

                               <div class="row">
                                    <label id="inlineFormInputGroup-messageattitude-error" class="error" for="message_attitude"></label>
                               </div>

                               <div class="row">
                                    <label id="inlineFormInputGroup-message-error" class="error" for="message"></label>
                               </div>
                    </div>

             </div>
         </div>



                 <div class="row private-form-row">


                 <div class="col-sm-4">
                       <div style="float:left;font-weight:bold;font-size:1.1em;">

Тема сообщения
                       </div>
                       <div class="star" style="float:left;font-weight:bold;font-size:1.1em;margin-left:1.0em;">
                           *
                       </div>

                       <div class="clear"></div>

                 </div>
                 <div class="col-sm-8">

                                             <div class="form-group">
                                                       <input type="subject" id="subject" name="subject" maxlength="100" style="width:100%;" 
                                                        value="{{ answer_subject }}" />
                                             </div>

                 </div>

                 </div>

                 <div class="row private-form-row">


                 <div class="col-sm-4">
                       <div style="float:left;font-weight:bold;font-size:1.1em;">
Получатель (получатели)
                       </div>
                       <div class="star" style="float:left;font-weight:bold;font-size:1.1em;margin-left:1.0em;">
                           *
                       </div>

                       <div class="clear"></div>

                 </div>
                 <div class="col-sm-8">

                                             <div class="form-group">
                                                       <input type="recipient" id="recipient" name="recipient" maxlength="100" style="width:100%;" value="{{ recipient.username }}"/>
                                             </div>

                 </div>

                 </div>


         <div class="row private-form-row">
             <div class="col-sm-4">

                       <div style="float:left;font-weight:bold;font-size:1.1em;">
Ваше отношение
                       </div>

                       <div class="star" style="float:left;font-weight:bold;font-size:1.1em;margin-left:1.0em;">
                           *
                       </div>

                       <div class="clear"></div>

             </div>

             <div class="col-sm-8">
                       <div class="container-fluid">

                               <div class="row">
                                       <div class="col-sm-4">
                                                      <input type="radio" name="message_attitude" value="love" />
                                                       
                                                       <span class="loves-profile">
                                                              Любовь
                                                       </span>
                                       </div>

                                                            

                                       <div class="col-sm-4">
                                                       <input type="radio" name="message_attitude" value="indifferent" checked/>
                                                          
                                                       <span class="mehs-profile">
Безразличие

                                                       </span>
                                       </div>



                                       <div class="col-sm-4">
                                                       <input type="radio" name="message_attitude" value="hate" /> 
                                                       <span class="hates-profile">
Ненависть                  
                                                       </span>
                                       </div>
                                        
 

                               </div>
                       </div>                 
             </div>


         </div>
         <div class="row private-form-row">

                       <div class="col-sm-4">

                       </div>
                       <div class="col-sm-8">
                                    <div class="form-group">
                                            <textarea name="message" id="message" cols="10" rows="8" style="width:100%;"
                                             placeholder="Ваше сообщение пользователю (пользователям) ..." value="">
                                            </textarea>
                                    </div>
                       </div>
          </div>
         <div class="row private-form-row">
                       <div class="col-sm-4">
                       </div>
                       <div class="col-sm-2">

                            <button class="btn4" id="message-publish" type="button"  style="background:#4a4a4a;min-width:6.00em;">
                                  Отправить
                            </button>
                            
                       </div>

                       <div class="col-sm-4">
                       </div>                       
         </div>
     </div>
    </div>
</div>

<input type="hidden" id="message_user_id" value="{{ user.id }}" />
{% endif %}
</form>
</div>
{% endblock %}

