{% extends "base.html" %}
{% load blog_extras %}
{% load static %}
{% load bootstrap_pagination %}
{% block content %}

<div>
<br />
<br />
<br />
</div>
<div class="container-fluid registration-form">
    <div class="row">

        <div class="col-sm-2">
        </div>
    

        <div class="col-sm-8">
            <div class="container-fluid">
                <form action="editprofile" method="post">
                    <div class="row blog-common-row">
                         <div class="col-sm-12">
                               <div class="container-fluid">

                               {% for post in posts %}


                                             
                                                           {% if post.attitude.id == 1 %}
                                                                 <div class="row loves-messages">
                                                           {% elif post.attitude.id == 2 %}
                                                                  <div class="row mehs-messages">
                                                           {% elif post.attitude.id == 3 %}
                                                                  <div class="row hates-messages">
                                                           {% endif %}

                                                                         <div class="col-sm-12">
                                                                              <span class="neutral-messages">
                                                                                <a href="/user/{{ post.author.id }}">{{ post.author_nick }}</a>
                                                                              </span>, <strong> {{ post.subject }}</strong>, {{ post.date_time_published }}
                                                                         </div>

                                                                 </div>

                                                           {% if post.attitude.id == 1 %}
                                                                 <div class="row loves-messages" style="padding-left:0.8em;">
                                                           {% elif post.attitude.id == 2 %}
                                                                  <div class="row mehs-messages"  style="padding-left:0.8em;">
                                                           {% elif post.attitude.id == 3 %}
                                                                  <div class="row hates-messages"  style="padding-left:0.8em;">
                                                           {% endif %}
                                 
 

                                                                            {% for line in post.teaser_lines %}
                                                                                {% if not forloop.last %}


                                                                                      {% if line|slice:"0:1" == '>' %}
                                                                                              <span style="font-weight:bold; font-size:1.2em;"> | </span>
                                                                                              <span style="font-style:italic;">

                                                                                                             {% for l in line|slice:"1:"|split:" " %}
                                                                                                             {% if 'http' in l  %}<br/>
                                                                                                                <a href="{{ l }}">{{ l }}</a>
                                                                                                                   {% else %}
                                                                                                                {{ l }}
                                                                                                             {% endif %}
                                                                                                             {% endfor %}

                                                                                      {% else %}
                                                                                              <span style="font-style:normal;">

                                                                                                             {% for l in line|slice:"0:"|split:" " %}
                                                                                                             {% if 'http' in l  %}<br/>
                                                                                                                <a href="{{ l }}">{{ l }}</a>
                                                                                                                   {% else %}
                                                                                                                {{ l }}
                                                                                                             {% endif %}
                                                                                                             {% endfor %}

                                                                                      {% endif %}
                                                                                              </span>

                                                                                {% elif  forloop.last %}

                                                                            
                                                                                      {% if  post.long_article %}


                                                                                              {% if line|slice:"0:1" == '>' %}
                                                                                                       <span style="font-weight:bold; font-size:1.2em;"> | </span>
                                                                                                       <span style="font-style:italic;">
                                                                                                       {{ line|slice:"1:-3" }}
                                                                                                       <a href="/blog/{{ post.id }}/comments">[{{ line|slice:"-3:" }}]</a>
                                                                                              {% else %}
                                                                                                        <span style="font-style:normal;">
                                                                                                          {{ line|slice:"0:-3" }}
                                                                                                          <a href="/blog/{{ post.id }}/comments">[{{ line|slice:"-3:" }}]</a>
                                                                                              {% endif %}



                                                                                      {% else %}

                                                                                              {% if line|slice:"0:1" == '>' %}


                             
                                                                                                      <span style="font-weight:bold; font-size:1.2em;"> | </span>
                                                                                                       <span style="font-style:italic;">

                                                                                                             {% for l in line|slice:"1:"|split:" " %}
                                                                                                             {% if 'http' in l  %}<br/>
                                                                                                                <a href="{{ l }}">{{ l }}</a>
                                                                                                                   {% else %}
                                                                                                                {{ l }}
                                                                                                             {% endif %}
                                                                                                             {% endfor %}


                                                                                              {% else %}
                                                                                                                  <span style="font-style:normal;">
                                                                                                                      {% for l in line|slice:"0:"|split:" " %}
                                                                                                                               {% if 'http' in l  %}<br/>
                                                                                                                                    <a href="{{ l }}">{{ l }}</a>
                                                                                                                               {% else %}
                                                                                                                                       {{ l }}
                                                                                                                               {% endif %}
                                                                                                                      {% endfor %}
                                                                                               {% endif %}
                                                                               </span>


                                                                                {% endif %}



                                                                                              {% endif %}

                                                         {% endfor %}
                                           </div>
                                     {% if post.link %} 
                                     <div class="row neutral-messages">
                                     <div class="col-sm-12">
                                          <a href="{{ post.link }}">{{ post.link }}</a>
                                     </div>
                                     </div>
                                     {% endif %}

                                     {% if post.link_two %}
                                     <div class="row neutral-messages">
                                     <div class="col-sm-12">
                                          <a href="{{ post.link_two }}">{{ post.link_two }}</a>
                                     </div>
                                     </div>
                                     {% endif %}

                                     {% if post.link_three %}
                                     <div class="row neutral-messages">
                                     <div class="col-sm-12">
                                          <a href="{{ post.link_three }}">{{ post.link_three }}</a>
                                     </div>
                                     </div>
                                     {% endif %}

                                     {% if post.link_four %}
                                     <div class="row neutral-messages">
                                     <div class="col-sm-12">
                                          <a href="{{ post.link_four }}">{{ post.link_four }}</a>
                                     </div>
                                     </div>


                                    {% endif %}
                                    <div class="row neutral-messages">
                                    <div class="col-sm-12" style="margin-bottom:1.80em;">
                                          <a href="/blog/{{ post.id }}/comments">
                                        
Читать
                                           
                                             {% post_meta post.id 1 %}


                                            </a> &nbsp; &nbsp;
                                          <a href="/blogcomment/{{ post.id }}">
Комментировать
                                          </a>
                                     </div>

                                                       


                                             </div>
                               {% endfor %}
                               </div>
                         </div>

                    </div>


                </form>
           </div>
        </div>
       <div class="col-sm-2">
       </div>


    </div>
    <div class="row">
        <div class="col-sm-5">
        </div>

        <div class="col-sm-2">
              {% bootstrap_paginate posts range=5 show_prev_next="false" show_first_last="true" %}
        </div>


        <div class="col-sm-5">
        </div>

    </div>
</div>


{% endblock %}

