{% extends "base.html" %}
{% load static %}
{% load blog_extras %}
{% block content %}
<!--
<span>one <span class='italize'>two</span> three <span class='italize'>four</span></span>
-->
{% mark_meta "one `two three four`" %}

<div>
<br />
<br />
<br />
</div>
<div class="container-fluid registration-form">
         <div class="row">
             <div class="col-sm-4">&nbsp;
             </div>
             <div class="col-sm-8">&nbsp;
             </div>
         </div>




    <div class="row">

        <div class="col-sm-2">
        </div>
    
        <div class="col-sm-8">
            <div class="container-fluid" style="background:#f6f6f6;border: 1px #979797 solid;">
                <form id="editprofileform" name="editprofileform"  method="post">


 
                 <div class="row" style="min-height:30em;">
                     <div class="col-sm-4">
                         <div style="float:left;font-weight:bold;font-size:1.1em;">
                         Сейчас в чате
                         </div>
                         <div class="star" style="float:left;font-weight:bold;font-size:1.1em;margin-left:1.0em;">
                         </div>
                         <div class="clear"></div>
                     </div>
                     <div class="col-sm-8">
                       <div class="form-group">
                            <input type="text" id="profile_username" name="profile_username" maxlength="100" size="56" value="{{ user.username }}"  />
                       </div>
                     </div>
                 </div>

         <div class="row">
                       <div class="col-sm-4">

                            <button class="btn3" id="editprofile-publish" type="button"  style="background:#4a4a4a;min-width:6.00em;">
Войти
                            </button>

                       </div>
                       <div class="col-sm-7">
                          <input type="text" id="chat_text" name="chat_text" maxlength="100" size="56" value=""  />
                       </div>

                       <div class="col-sm-1">
                       </div>
         </div>
                     <input type="hidden" name="profile_bio" id="profile_bio" value="{{ user.profile.bio }}"/>

                </form>
           </div>
        </div>
    </div>
</div>     

{% endblock %}
