{% extends "base.html" %}
{% load static %}
{% load blog_extras %}
{% block content %}
<!--
<span>one <span class='italize'>two</span> three <span class='italize'>four</span></span>
-->

<div>
<br />
</div>
<!-- chatapp -->
<div class="container-fluid registration-form">


<div class="row">
<div class="col-sm-4">&nbsp;
</div>
<div class="col-sm-8">&nbsp;
</div>
</div>



<div class="row" id="chatapp">
<div class="col-sm-2">
</div>
<form method="post">
<input type="hidden" name="is-user-channel" id="is-user-channel" value="" />
<input type="hidden" name="active-room-user-id" id="active-room-user-id" value="" />
<input type="hidden" name="active-room-name" id="active-room-name" value="Курилка" />
<input type="hidden" name="active-room" id="active-room" value="1" />
<input type="hidden" name="current-color" id="current-color" value="{{ user.profile.chat_color }}" />
<div class="col-sm-8">
<div class="container-fluid" style="background:#f6f6f6;border: 1px #979797 solid;">

<input type="hidden" id="chat_username" name="chat_username" v-model="chat_username" value="{{ user.username }}" />
<input type="hidden" id="chat_user_id" name="chat_user_id" v-model="chat_user_id" value="{{ user.id }}" />

<div class="row" style="min-height:30em;">
<div class="col-sm-4">
{% if user.profile.in_chat %}
<div style="border-bottom: 1px #979797 solid;" class="neutral-messages">
<span style="font-weight:0.8em;">
<a  v-on:click="exitchat" href="#">
Выйти    
</a>
</span>
</div> 
{% endif %}
<div style="float:left;font-weight:bold;font-size:1.1em;">

Сейчас в чате
</div>
<div class="clear"></div>

                         <div id="users-container">
                        <input type="hidden" id="chat-user-id" value="{{ chat_user_id }}" />
                        <input type="hidden" id="active-chat-user-id" value="{{ user.id }}" />
                         {% for usr in users %}
                              {% if usr.profile.in_chat %}
                                <div class="row">
                                  <div class="col-sm-6">
                                      <div id="chat-user-{{ usr.id }}" v-on:click="user({{ usr.id }})">{{ usr.username }}</div> 
                                      <input type="hidden" id="chat-active-user-{{ usr.id }}" value="{{ usr.username }}" />
                                  </div>
                                  <div class="col-sm-4">
                                        {% if usr.id == user.id %}
                                            <div class="pending-user">&nbsp;</div> 
                                        {% endif %}
                                  </div>
                                </div>
                              {% endif %}
                         {% endfor %}

                         </div>
                       
                         <div style="float:left;font-weight:bold;font-size:1.1em;margin-top:3.0em;">

                         <div class="row">
                         <div class="col-sm-6">
                         Комнаты
                         </div>
                         <div class="col-sm-4"><a id="add-room" href="#" style="text-decoration:none;">(+)</a>
                         </div>  
                         </div>

                         <div id="add-room-modal" class="add-room-modal" style="position:absolute;overflow:hidden;background: rgb(246, 246, 246); border: 1px solid rgb(151, 151, 151);width:95%;display:none;">

                                     <form id="newroomform"  name="newroomform"  method="post">
                                              <input type="hidden" value="" name="new_room_id"  id="new_room_id" />
                                            <div class="row add-room-row">
                                              <div style="float:left;width:10%;">&nbsp;</div>
                                              <div style="float:left;width:40%;">
                                                    {% csrf_token %}
                                                        <input type="text" id="new_room" name="new_room"
                                                          placeholder="" size="16" />
                                              </div>
                                              <div style="float:left;width:5%;">&nbsp;</div>
                                              <div style="float:left;width:32%;">
                                                  <button type="button" id="newroomform-publish" class="btn3" style="min-width:5.2em;font-size:0.9em;background:#4a4a4a;margin-right:1.2em;" >
                                                   Добавить
                                                  </button>
                                              </div>
                                              <div style="float:left;width:12%;">&nbsp;</div>
                                              <div class="clear"></div>
                                            </div>
                                    </form>

                            
                         </div> 


                         </div>
                         <div class="clear"></div>

                         <div id="rooms-container">

                         {% for room in rooms %}
                             <div id="room-{{ room.id }}" v-on:click="room({{ room.id }})">{{ room.name }} </div>
                             <input type="hidden" id="room-name-{{ room.id }}" value="{{ room.name }}" />
                         {% endfor %}

                         </div>

                         <div class="clear"></div>
                         <div class="neutral-messages">
                            <div class="row">

                               <div class="col-sm-8">
                                     <a href="#" id="messages-color">Цвет сообщений</a>
                               </div>
                               <div class="col-sm-1">
                                   <div style="width:1.5em;height:1.5em;background:{{ user.profile.chat_color }}"  id="messages-palette" class="current-color">&nbsp;</div>  
                               </div>
                            </div>
                           <chrome-picker v-model="colors" />


                         </div>
                     </div>
                     <div class="col-sm-8">
                       <div class="form-group">
                              
                            <div> 
<!--
                            <div v-for="item in list">
                                  [[ item ]]
                            </div>
                            <div v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="5">
                            ...
                            </div>
-->
                            <virtual-list :size="5" :remain="5" wtag="div" id="chat-window" class="chat-pane">
                                <div v-for="item in list">[[ item ]]</div>
                            </virtual-list>

                            </div>
<!--
                            <input type="text" id="profile_username" name="profile_username" maxlength="100" size="56" value="{{ user.username }}"  />
-->
                       </div>
                       <div>
                                          <div id="current-channel" class="chat-left"><strong>process=></strong></div>
                       </div>
                     </div>
                 </div>

                <div class="row">
                       <div class="col-sm-4">

                   
                              {% if not user.profile.in_chat %}
          
                                       <button class="btn3" v-on:click="enterchat" type="button"  style="background:#4a4a4a;min-width:6.00em;">
Войти
                                       </button>
                              {% elif user.profile.in_chat %}
<!--
                                       <button class="btn3" v-on:click="talk" type="button"  style="background:#4a4a4a;min-width:6.00em;">
                                       Отослать
                                       </button>
-->
                              {% endif %}

                       </div>
                       
                       <div class="col-xs-8">
                              <div class="container-fluid" style="margin-left: -1.1em; width: 104%;">
                                    <div class="row">
                    
                                            {% if user.profile.in_chat %}

                                                     <div class="col-xs-9">
                                            
                                                                   <div class="chat-text-window">
<!--
                                      <div class="col-xs-2">
                                          <div id="current-channel" class="chat-left"><strong>process=></strong></div>
                                      </div>
--> 
                                                                           <input type="text" v-on:keyup.enter="talk" id="chattext" style="width:100%;padding-top:0.3em;margin-top:-2.2em;margin-bottom:-0.4em;display: inline;border: none;" value=""/>
                                                                   </div>
                                                     </div>
                                                     <div class="col-xs-3">
                                                                    <button class="btn3" v-on:click="talk"  type="button" style="min-height: 2.5em; background: rgb(74, 74, 74); min-width: 5.5em;" >
                                                                        Отправить
                                                                    </button>
                                                          
                                                     </div> 
                            <!-- 
                              <input type="text" id="chat-text" name="chat-text" style="width:100%;" value=""  />
                            -->
                                          {% endif %} 
                                 </div> <!-- end row -->
                             </div> <!-- end container --> 
                       </div> <!-- end col-xs-8-->
<!--
                                <button class="btn3" v-on:click="talk" type="button"  style="min-height: 2.5em; background: rgb(74, 74, 74); min-width: 5.5em; font-size: 1em;margin-left:-1.8em;text-align:center;">
-->
                       </div> <!-- end row -->
                 </div> <!-- end container -->
                       


        </div>
         </form>
    </div>
         <div class="row">
             <div class="col-sm-4">&nbsp;
             </div>
             <div class="col-sm-8">&nbsp;
             </div>
         </div>

</div>     
<script>

// Global name as `VirtualScrollList`
Vue.component('virtual-list', VirtualScrollList);
//Vue.component('virtual-list', virtualScroll); 
</script>
{% endblock %}
