{% extends "base.html" %}
{% load static %}
{% load bootstrap_pagination %}
{% load blog_extras %}
{% block content %}

<div class="container-fluid registration-form">
    <div class="row" style="font-size:1.20em;margin-top:1.6em;">

        <div class="col-sm-2">
        </div>
    
        <div class="col-sm-8">
            <div class="container-fluid">
                <form action="editprofile" method="post">
                    <div class="row">
         
                         <div class="col-sm-12">
                               <div class="container-fluid">
                                      {% if post.attitude.id == 1 %}
                                          <div class="row loves-messages">
                                      {% elif post.attitude.id == 2 %}
                                          <div class="row mehs-messages">
                                      {% elif post.attitude.id == 3 %}
                                          <div class="row hates-messages">
                                      {% endif %}
                                      
 
                                                                         <div class="col-sm-10">
                                                                              <span class="neutral-messages">
                                                                                <a href="/user/{{ post.author.id }}">{{ post.author_nick }}</a>
                                                                              </span>, <strong> {{ post.subject }}</strong>, {{ post.date_time_published }}
                                                                         </div>
                                                                           
                                                                         <div class="col-sm-2">
                                                                         
                                                           {% if user.id == post.author.id %}
                                                                 <span>
                                                                       <a href="/blog/edit/{{ post.id }}">

Изменить
                                                                       </a>
                                                                 </span>
                                                           {% elif user.id is post.author.id %}

                                                                 <span>
                                                                       <a href="/blog/edit/{{ post.id }}">
Изменить

                                                                       </a>
                                                                 </span>

                                                           {% endif %}
     
                                                                         </div>
                                            </div>



                                            <div class="row neutral-messages">
                                                         {% if post.attitude.id == 1 %}
                                                               <div class="col-sm-12 loves-messages">
                                                                     {% elif post.attitude.id == 2 %}
                                                                            <div class="col-sm-12 mehs-messages">
                                                                     {% elif post.attitude.id == 3 %}
                                                                            <div class="col-sm-12 hates-messages">
                                                         {% endif %}

                                                         {% for line in post.body_lines %}
                                                                {% if line|slice:"0:1" == '>' %}
                                                                               <span style="font-weight:bold; font-size:1.2em;"> | </span>
                                                                               <span style="font-style:italic;">
                                                                                   {% for l in line|slice:"1:"|split:" " %}
                                                                                    {% if 'http' in l  %}
                                                                                         <a href="{{ l }}">{{ l }}</a>
                                                                                    {% else %}
                                                                                        {{ l }}
                                                                                    {% endif %}
                                                                                   {% endfor %}

                                                                {% else %}
                                                                                   <span style="font-style:normal;">
                                                                                   {% for l in line|slice:"0:"|split:" " %}
                                                                                    {% if 'http' in l  %}
                                                                                         <a href="{{ l }}">{{ l }}</a>
                                                                                    {% else %}
                                                                                        {{ l }}
                                                                                    {% endif %}
                                                                                   {% endfor %}
                                                                {% endif %}
                                                                               </span>
                                                                  <br/>
                                                        {% endfor %}         
                                         </div>

                                              <!-- end row -->
                        <!--      </div> -->
                                        <!-- end container -->

                              {% if post.link %}

                              <div class="row neutral-messages">
                                     <div class="col-sm-11">
                                               &nbsp;&nbsp;&nbsp; <a href="{{ post.link }}">{{ post.link }}</a>
                                     </div>

                              </div>
                              {% endif %}
                              {% if post.link_two %}

                              <div class="row neutral-messages">
                                     <div class="col-sm-11">
                                               &nbsp;&nbsp;&nbsp; <a href="{{ post.link_two }}">{{ post.link_two }}</a>
                                     </div>

                              </div>
                              {% endif %}

                              {% if post.link_three %}

                              <div class="row neutral-messages">
                                     <div class="col-sm-11">
                                               &nbsp;&nbsp;&nbsp; <a href="{{ post.link_three }}">{{ post.link_three }}</a>
                                     </div>

                              </div>
                              {% endif %}

                              {% if post.link_four %}

                              <div class="row neutral-messages">
                                     <div class="col-sm-11">
                                               &nbsp;&nbsp;&nbsp; <a href="{{ post.link_four }}">{{ post.link_four }}</a>
                                     </div>

                              </div>
                              {% endif %}

                              <div class="row neutral-messages">
                                     <div class="col-sm-12" style="border-bottom:1px #333333 solid; opacity: 0.3;margin-top:1.1em;margin-left:1.9em;margin-bottom:1.8em;">
                                     </div>
                              </div>

                              <div class="row neutral-messages" style="margin-top:0.6em;margin-left:0.0em;margin-top:-0.4em;">
                                   <div class="container-fluid">
                                                          {% for comment in comments %}
                                                           {% if comment.attitude.id == 1 %}
                                                                 <div class="row loves-messages" style="margin-top:1.8em;">
                                                           {% elif comment.attitude.id == 2 %}
                                                                  <div class="row mehs-messages" style="margin-top:1.8em;">
                                                           {% elif comment.attitude.id == 3 %}
                                                                  <div class="row hates-messages" style="margin-top:1.8em;">
                                                           {% endif %}

                                     <div class="col-sm-12">
                                         <a href="/user/{{ comment.author.id }}">{{ comment.author_nick }}</a> &nbsp; {{ comment.date_time_published }}
                                     </div>  
                                    
                                     </div>

                                                           {% if comment.attitude.id == 1 %}
                                                                 <div class="row loves-messages">
                                                           {% elif comment.attitude.id == 2 %}
                                                                  <div class="row mehs-messages">
                                                           {% elif comment.attitude.id == 3 %}
                                                                  <div class="row hates-messages">
                                                           {% endif %}
 
                                              <div class="col-sm-10">
                                                  {% for line in comment.body_lines %}
                                                          {% if line|slice:"0:1" == '>' %}
                                                                  <span style="font-weight:bold; font-size:1.2em;"> | </span>
                                                                  <span style="font-style:italic;">

                                                                                   {% for l in line|slice:"1:"|split:" " %}
                                                                                    {% if 'http' in l  %}
                                                                                         <a href="{{ l }}">{{ l }}</a>
                                                                                    {% else %}
                                                                                        {{ l }}
                                                                                    {% endif %}
                                                                                   {% endfor %}


                                                                {% else %}
                                                                                   <span style="font-style:normal;">
                                                                                   {% for l in line|slice:"0:"|split:" " %}
                                                                                    {% if 'http' in l  %}
                                                                                         <a href="{{ l }}">{{ l }}</a>
                                                                                    {% else %}
                                                                                        {{ l }}
                                                                                    {% endif %}
                                                                                   {% endfor %}
                                                                {% endif %}
                                                                               </span>


                                                           <br/> 
                                                  {% endfor %}  
                                              </div> 
                                              <div class="col-sm-2" style="font-weight:0.8em;">
                                                              {% if user.id  == comment.author.id %}
                                                                    <a href="/editcomment/{{ comment.id }}/">Изменить</a>
                                                              {% elif user.id is comment.author.id %}

                                                                    <a href="/editcomment/{{ comment.id }}/">Изменить</a>

                                                              {% endif %}


                                               </div>
                                      </div>
                                      <div class="row neutral-messages">
                                     <div class="col-sm-12">
                                          {% if comment.link %}
                                          <a href="{{ comment.link }}">{{ post.link }}</a>
                                          &nbsp;&nbsp;
                                          {% endif %}
                                     </div>


                                  </div>
                               {% endfor %}
                               </div>
                         </div>
                         <div class="col-sm-1">
                         </div>

                    </div>
                    <div class="row">
                       <div class="col-sm-12 neutral-messages-regular" style="margin-left:-1.2em;padding-top:1.54em;padding-bottom:1.54em;">
                           <strong>
                            &nbsp;  &nbsp; &nbsp;<a href="/blog">Вернутъся</a>
   
                                 &nbsp;&nbsp;           <a href="/blogcomment/{{ post.id }}">Комментироватъ
                                            </a>
                           </strong>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-sm-12 neutral-messages-regular"> &nbsp;
                           </div>
                       </div>
                   </div>
                    <br/>
                </form>
           </div>
        </div>
<!--
       <div class="col-sm-8">
       </div>
 -->       

    </div>
</div>     


{% endblock %}
