{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
<br />
<br />
<br />
</div>
<div class="container-fluid registration-form">
<form  name="newcommentform" id="newcommentform">
<div class="row">

    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
     <div class="container-fluid" style="background:#f6f6f6;border: 1px #979797 solid;">
         <div class="row comment-form-row">
             <div class="col-sm-4">
             </div>
             <div class="col-sm-8">
                    <div class=container-fluid" style="margin-left:0.4em;">
<!--
                               <div class="row">
                                    <label id="inlineFormInputGroup-comment_subject-error" class="error" for="comment_subject"></label>
                               </div>
-->
                               <div class="row">
                                    <label id="inlineFormInputGroup-comment_attitude-error" class="error" for="comment_attitude"></label>
                               </div>

                               <div class="row">
                                    <label id="inlineFormInputGroup-comment-error" class="error" for="comment"></label>
                               </div>
                    </div>

             </div>
         </div>

                 <div class="row comment-form-row">
                    <div class="col-sm-4">
<div style="font-weight:bold;font-size:1.1em;">
Автор сообщения
</div>
                    </div>
                    <div class="col-sm-8">
                           {{ post.author_nick }}
                    </div>     
                 </div>

                 <div class="row">
                    <div class="col-sm-4">
                    <div style="font-weight:bold;font-size:1.1em;">
                    Тема сообщения
                    </div>
                    </div>
                    <div class="col-sm-8">



                                                           {% if post.attitude.id == 1 %}
                                                                 <div class="loves-messages">
                                                           {% elif post.attitude.id == 2 %}
                                                                  <div class="mehs-messages">
                                                           {% elif post.attitude.id == 3 %}
                                                                  <div class="hates-messages">
                                                           {% endif %}

                                                           {{ post.subject }}
                                                                  </div>
                    </div>
                 </div>

<!--
                <div class="row">


                 <div class="col-sm-4">
                       <div style="float:left;font-weight:bold;font-size:1.1em;">
Ваш заголовок
                       </div>

                       <div class="clear"></div>

                 </div>
                 <div class="col-sm-8">

                                             <div class="form-group">
                                                       <input type="text" id="comment_subject" name="comment_subject" maxlength="100" size="56"  />
                                             </div>

                 </div>

                 </div>
-->
         <div class="row comment-form-row">
             <div class="col-sm-4">

                       <div style="float:left;font-weight:bold;font-size:1.1em;">

Ваше отношение
                    </div>


                       <div class="clear"></div>

             </div>

             <div class="col-sm-8">
                       <div class="container-fluid">

                               <div class="row">
                                       <div class="col-sm-4">
                                                      <input type="radio" name="comment_attitude" value="love" />
                                                       
                                                       <span class="loves-newcomment">
                                                              Любовь
                                                       </span>
                                       </div>

                                                            

                                       <div class="col-sm-4">
                                                       <input type="radio" name="comment_attitude" value="indifferent" checked />
                                                          
                                                       <span class="mehs-newcomment">
Безразличие

                                                       </span>
                                       </div>



                                       <div class="col-sm-4">
                                                       <input type="radio" name="comment_attitude" value="hate" /> 
                                                       <span class="hates-newcomment">
Ненависть                  
                                                       </span>
                                       </div>
                                        
 

                               </div>
                       </div>                 
             </div>


         </div>
         <div class="row comment-form-row">

                       <div class="col-sm-4">
<div style="float:left;font-weight:bold;font-size:1.1em;">
Ваш комментарий
</div>
                       </div>
                       <div class="col-sm-8">
                                    <div class="form-group">
                                            <textarea name="comment" id="comment" cols="10" rows="8" style="width:100%;"
                                             placeholder="Пишем что угодно (но, всё же, по теме) ..." value="">
                                            </textarea>
                                    </div>
                       </div>
          </div>
         <div class="row comment-form-row">
                       <div class="col-sm-4">
                       </div>
                       <div class="col-sm-2">

                            <button class="btn4" id="newcomment-publish" type="button"  style="background:#4a4a4a;min-width:6.00em;">
                                  Отправить
                            </button>
                            
                       </div>

                       <div class="col-sm-4">
                       </div>                       
         </div>


     </div>
    </div>



</div>

         <div class="row comment-form-row neutral-messages">
                       <div class="col-sm-2">
                       </div>
                       <div class="col-sm-10">

                              <br/>
                              <strong>
                            &nbsp;  &nbsp; &nbsp;<a href="/blog" style="text-decoration:underline;">Вернутъся</a>
                              </strong>

                       </div>

         </div>




<input type="hidden" id="comment_user_id" value="{{ user.id }}" />
<input type="hidden" id="comment_post_id" value="{{ post.id }}" />
</form>
</div>
{% endblock %}

