{% extends "base.html" %}
{% load static %}
{% load bootstrap_pagination %}
{% block content %}

<div>
<br />
<br />
<br />
</div>
<div class="container-fluid registration-form">
    <div class="row">

        <div class="col-sm-2">
        </div>
    
        <div class="col-sm-8">
            <div class="container-fluid" style="background:#f6f6f6;border: 1px #979797 solid;">
                <form action="/incoming/" enctype="multipart/form-data" method="POST">
                              {% csrf_token %}

                             <div class="row">

                                            <div class="container-fluid">

    <div class="row" style="min-height:1.2em;">
        <div class="col-sm-2">
               &nbsp;
               <br/>
        </div>

        <div class="col-sm-10">
               &nbsp;
               <br/>
        </div>
    </div>

                                                       {% for message in allmessages %}
                                                           <div class="row" style="margin-bottom:1.5em;">
  
                                                            <div  class="col-sm-1">
                                                                 <input type="checkbox" name="incoming_delete" value="{{ message.id }}" />
                                                            </div>

                                                           {% if message.attitude.id == 1 %}
                                                                 <div class="col-sm-2 loves-messages">
                                                           {% elif message.attitude.id == 2 %}
                                                                  <div class="col-sm-2 mehs-messages">
                                                           {% elif message.attitude.id == 3 %}
                                                                  <div class="col-sm-2 hates-messages">
                                                           {% endif %}
                                                                  {{ message.date_time_sent }}
                                                            </div>
                                                            <div class="col-sm-7"> 
                                                            
                                                           {% if message.attitude.id == 1 %}
                                                                 <div class="loves-messages">
                                                           {% elif message.attitude.id == 2 %}
                                                                  <div class="mehs-messages">
                                                           {% elif message.attitude.id == 3 %}
                                                                  <div class="hates-messages">
                                                           {% endif %}
                                                         

                                                           {% if not message.is_read %}   
                                                               <span style="font-weight:bold;">                     
                                                           {% else %}
                                                               <span style="font-weight:normal;">
                                                           {% endif %}

                                                                    <a href="/user/{{ message.sender.id }}">{{ message.sender.username }}</a> - {{ message.subject }} 
                                                               </span>
                                                           
                                                                   <br/>

                                                  {% for line in message.teaser_lines %}
                                                      {% if  message.long_message %}
                                                          {% if not forloop.last %}
                                                              {% if line|slice:"0:1" == '>' %}
                                                                  <span style="font-weight:bold; font-size:1.2em;"> | </span>
                                                                  <span style="font-style:italic;">
                                                                  {{ line|slice:"1:" }}
                                                              {% else %}
                                                                  <span style="font-style:normal;">
                                                                  {{ line|slice:"0:" }}
                                                              {% endif %}
                                                                  </span>
                                                           {% elif forloop.last %}

                                                              {% if line|slice:"0:1" == '>' %}
                                                                  <span style="font-weight:bold; font-size:1.2em;"> | </span>
                                                                  <span style="font-style:italic;">
                                                                  {{ line|slice:"1:" }}
                                                              {% else %}
                                                                  <span>
                                                                     {{ line|slice:":-3" }}
                                                                  <span style="font-size:0.64em;font-style:normal;"> 
                                                                  <a href="/private/read/{{ message.id }}">
                                                                  полностью>>
                                                                  </a>
                                                                  </span>
                                                              {% endif %}
                                                                  </span>






                                                           {% endif  %}
                                                      {% else %}

                                                          {% if line|slice:"0:1" == '>' %}
                                                                  <span style="font-weight:bold; font-size:1.2em;"> | </span>
                                                                  <span style="font-style:italic;">
                                                                  {{ line|slice:"1:" }}
                                                          {% else %}
                                                                  <span style="font-style:normal;">
                                                                  {{ line|slice:"0:" }}
                                                          {% endif %}
                                                                  </span>



                                                      {% endif %}



                                                  {% endfor %}




                                                              </div>
                                                             </div>

                                                             <div  class="col-sm-1 neutral-messages-regular">
                                                           {% if not message.is_read %}
                                                               <span style="font-weight:bold;">
                                                           {% else %}
                                                               <span style="font-weight:normal;">
                                                           {% endif %}
                                                            {% if not message.sender.id == user.id %}

                                                                 <a href="/private/answer/{{ message.id}}">Ответить</a>
                                                            {% endif %}
                                                            </span>
                                                             </div>
                                                             <div  class="col-sm-1">
                                                             </div>
                                                            </div>
                                                       {% endfor %}
                                                      <div class="row">                            
                                                         <div class="col-sm-2"> 

                            <button class="btn4"  type="submit"  style="background:#4a4a4a;min-width:6.00em;margin-top:1.4em;">
                                 Удалить
                            </button>


                                                         </div>
                                                         <div class="col-sm-3"></div>
                                                         <div class="col-sm-5">
                                                                      {% bootstrap_paginate allmessages range=10 show_prev_next="false" show_first_last="true" %} 
                                                         </div>
                                                         <div class="col-sm-2 neutral-messages" style="padding-top:2.6em;">
<span style="font-size:1.0em;">
&nbsp;<a href="/incoming/">
Все Сообщения
</a>
</span>


                                                         </div>
                                                      </div>
                                                  </div>
                    
                    </div>
                </form>
           </div>
        </div>
    </div>
</div>     


{% endblock %}
