{% extends "base.html" %}
{% load static %}
{% load bootstrap_pagination %}
{% block content %}


<div class="container-fluid registration-form">
<div class="row forum-row">

    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
          <div class="container-fluid">
             <div class="row">
                <div class="col-sm-4">
                    <div class="loves column-header">
                       <span>
Любовь
                       </span>
                    </div>

                    <div class="loves-forum">
                     {% for page in pages %}
                       {% for love in page.loves %}
                           
                           <div class="forum-entry"><a href="/user/{{ love.user.id }}">{{ love.user.username }}</a> <span>
<strong>
любит
</strong>
</span> 
                           
<a href="/topics/{{ love.topic.id }}">{{ love.subject }}</a> : 
                                                                            {% for line in love.body_lines %}
                                                                                      {% if line|slice:"0:1" == '>' %}
                                                                                              <span style="font-weight:bold;"> | </span>
                                                                                              <span style="font-style:italic;">
                                                                                              {{ line|slice:"1:" }}
                                                                                      {% else %}
                                                                                              <span style="font-style:normal;">
                                                                                               {{ line|slice:"0:" }}
                                                                                      {% endif %}
                                                                                              </span>
                                                                                               <br/>
                                                                               {% endfor %}
                          </div>

                         {% endfor %}
                       {% endfor %}
                    </div>




                </div>
                <div class="col-sm-4">
                    <div class="mehs-column-header">
                         <span>Безразличие</span>
                    </div>
                    <div class="mehs-forum">
                    {% for page in pages %}
                       {% for meh in page.mehs %}
                           <div class="forum-entry"><a href="/user/{{ meh.user.id }}">{{ meh.user.username }}</a> <span><strong>плевал на </strong></span> 
<a href="/topics/{{ meh.topic.id }}">{{ meh.subject }}</a>  :
                                                                            {% for line in meh.body_lines %}
                                                                                      {% if line|slice:"0:1" == '>' %}
                                                                                              <span style="font-weight:bold;"> | </span>
                                                                                              <span style="font-style:italic;">
                                                                                              {{ line|slice:"1:" }}
                                                                                      {% else %}
                                                                                              <span style="font-style:normal;">
                                                                                               {{ line|slice:"0:" }}
                                                                                      {% endif %}
                                                                                              </span>
                                                                                               <br/>
                                                                            {% endfor %}
 </div>
                       {% endfor %}
                    {% endfor %}
                    </div>


                </div>
                 <div class="col-sm-4">
                     <div class="hates-column-header">
                       <span>
Ненависть
                       </span>
                     </div>
                     <div class="hates-forum">
                     {% for page in pages %}  
                       {% for hate in page.hates %}
                           <div class="forum-entry"><a href="/user/{{ hate.user.id }}">{{ hate.user.username }}</a> <span><strong>ненавидит</strong></span> 
<a href="/topics/{{  hate.topic.id }}">{{ hate.subject }}</a> 
                            
 : 
                                                                            {% for line in hate.body_lines %}
                                                                                      {% if line|slice:"0:1" == '>' %}
                                                                                              <span style="font-weight:bold;"> | </span>
                                                                                              <span style="font-style:italic;">
                                                                                              {{ line|slice:"1:" }}
                                                                                      {% else %}
                                                                                              <span style="font-style:normal;">
                                                                                               {{ line|slice:"0:" }}
                                                                                      {% endif %}
                                                                                              </span>
                                                                                               <br/>
                                                                            {% endfor %}

 </div>

                       {% endfor %}
                      {% endfor %}
                     </div>

                 </div>
               </div><!-- row ends -->
               <div class="row">
                        <div class="col-sm-5">
                        </div>
                        <div class="col-sm-2">
                         {% bootstrap_paginate pages range=5 show_prev_next="false" show_first_last="true" %}
                        </div>          
                        <div class="col-sm-5">
                        </div>
               </div>
           </div> <!-- container ends -->
      </div> <!-- col 10 ends -->
     <div class="col-sm-1">
     </div>
</div> <!-- row ends -->

</div>




<div class="success" id="registration-success">
Создана новая учётная запись. <br/>
Проверьте вашу эл.почту и перейдите по ссылке для активации.
</div>
<div style="margin-top:20%;margin-left:30%;width:40%;margin-right:29%;border:1px solid black; text-align:center;">
Любовь и Ненависть <br/>
Наберитесь терпения.<br/><br/>
<br/>
Ваши профили, сообщения, переписка и история в безопасности.<br/>
</div>


{% endblock %}
