{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="success" id="registration-success">
Создана новая учётная запись. <br/>
Проверьте вашу эл.почту и перейдите по ссылке для активации.
</div>
<div style="margin-top:20%;margin-left:30%;width:40%;margin-right:29%;border:1px solid black; text-align:center;">
Любовь и Ненависть <br/>
Мы вернемся без жидов и аферистов. <br/>
Наберитесь терпения.<br/><br/>
<br/>
Ваши профили, сообщения, переписка и история в безопасности.<br/>
</div>
{% endblock %}
