{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid registration-form">
<div class="row">

    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
          <div class="container-fluid">
             <div class="row">
                <div class="col-sm-4">
                    <div class="loves">
                       <span>
Любовь
                       </span>
                    </div>


                    <div class="loves-forum">
                       {% for love in loves %}
                           <div><a href="/user/{{ love.user.id }}">{{ love.user.username }}</a> <span><strong>любит</strong></span> 

<a href="/topics/{{ love.topic.id }}">{{ love.subject }}</a> : {{ love.emotion }} </div>

                       {% endfor %}
                    </div>




                </div>
                <div class="col-sm-4">
                    <div class="hates" style="color:black;">
                         <span>Безразличие</span>
                    </div>
                    <div class="mehs-forum">

                       {% for meh in mehs %}
                           <div><a href="/user/{{ meh.user.id }}">{{ meh.user.username }}</a> <span><strong>плевал на </strong></span> 
<a href="/topics/{{ meh.topic.id }}">{{ meh.subject }}</a>  : {{ meh.emotion }} </div>
                       {% endfor %}

                    </div>


                </div>
                 <div class="col-sm-4">
                     <div class="hates">
                       <span>
Ненависть
                       </span>
                     </div>
                     <div class="hates-forum">
                       {% for hate in hates %}
                           <div><a href="/user/{{ hate.user.id }}">{{ hate.user.username }}</a> <span><strong>ненавидит</strong></span> 
<a href="/topics/{{  hate.topic.id }}">{{ hate.subject }}</a> 
 : {{ hate.emotion }} </div>

                       {% endfor %}
                     </div>

                 </div>
               </div><!-- row ends -->
           </div> <!-- container ends -->
      </div> <!-- col 10 ends -->
     <div class="col-sm-1">
     </div>
</div> <!-- row ends -->
</div>




<div class="success" id="registration-success">
Создана новая учётная запись. <br/>
Проверьте вашу эл.почту и перейдите по ссылке для активации.
</div>
<div style="margin-top:20%;margin-left:30%;width:40%;margin-right:29%;border:1px solid black; text-align:center;">
Любовь и Ненависть <br/>
Мы вернемся без жидов и аферистов. <br/>
Наберитесь терпения.<br/><br/>
<br/>
Ваши профили, сообщения, переписка и история в безопасности.<br/>
</div>
{% endblock %}
