{% extends "base.html" %}
{% load static %}
{% block content %}

<div>
<br />
<br />
<br />
</div>
<div class="container-fluid registration-form">
    <div class="row">

        <div class="col-sm-2">
        </div>
    
        <div class="col-sm-8">
            <div class="container-fluid" style="background:#f6f6f6;border: 1px #979797 solid;">
                <form action="editprofile" method="post">
                    <div class="row">
                        <div class="col-sm-4">Nick
                         </div>
                         <div class="col-sm-8">
                         </div>
                    </div>
                </form>
           </div>
        </div>
    </div>
</div>     


{% endblock %}
