<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">

    </head>
    <body style="background: #ededed;min-width: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin: 0;padding: 0;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;text-align: left;line-height: 19px;font-size: 14px;width: 100% !important;">
        <br/>
        <table class="body" style="background: #ededed;border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;height: 100%;width: 100%;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;">
            <tr style="padding: 0;vertical-align: top;text-align: left;">
                <td class="center" align="center" valign="top" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: center;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;border-collapse: collapse !important;">
                    <center style="width: 100%;">
                        <table class="container" style="background: #fff;border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: inherit;width: 346px;margin: 0 auto;">
                            <tr style="padding: 0;vertical-align: top;text-align: left;">
                                <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;border-collapse: collapse !important;"><img src="https://lovehate.io/media/back_one.png" style="width: 100%;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;max-width: 100%;float: left;clear: both;display: block;"></td>
                            </tr>
                            <tr style="padding: 0;vertical-align: top;text-align: left;">
                                <td class="text" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 20px;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;border-collapse: collapse !important;">
                                    [greeting] [First Name],
                                    <br>
                                    [newsletter_statement]

                                    </td></tr>
                                </td>
                            </tr>
                            <tr style="padding: 0;vertical-align: top;text-align: left;">
                                <td class="unsubscribe center" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 20px 20px 0 20px;vertical-align: top;text-align: center;color: #4a4a4a;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 12px;border-collapse: collapse !important;">
                                   [greeting_sent] <a href="#this" style="color: #4a4a4a;text-decoration: underline;">email_address@email.com</a>
                                </td>
                            </tr>
                            <tr style="padding: 0;vertical-align: top;text-align: left;">
                                <td class="unsubscribe center" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 20px 20px 0 20px;vertical-align: top;text-align: center;color: #4a4a4a;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 12px;border-collapse: collapse !important;">
                                    <a href="[global_link]" style="color: #4a4a4a;text-decoration: none;">[greeting_global_link]</a>
                                </td>
                            </tr>
                            <tr style="padding: 0;vertical-align: top;text-align: left;">
                                <td class="unsubscribe center" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 20px 20px 0 20px;vertical-align: top;text-align: center;color: #4a4a4a;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 12px;border-collapse: collapse !important;">
                                    [greeting_locale]
                                </td>
                            </tr>
                        </table>
                    </center>
                </td>
            </tr>
        </table>
    </body>
</html>

