{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
<br />
<br />
<br />
</div>
<div class="container-fluid registration-form">
<div class="row">

    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
     <div class="container-fluid" style="background:#f6f6f6;border: 1px #979797 solid;">
         <div class="row">
             <div class="col-sm-4">
                 Имя пользователя (ник)
             </div>

             <div class="col-sm-4">
                  {{ explored_username }}
             </div>

             <div class="col-sm-4">
             </div>

         </div>
         <div class="row">
             <div class="col-sm-4">
                  Полное имя или имя собственное
             </div>
             <div class="col-sm-4">
                 {{ fullname }}
             </div>

             <div class="col-sm-4">
             </div>

         </div>

         <div class="row">
             <div class="col-sm-4">
Пользователь о себе
             </div>
             <div class="col-sm-4">
                 {{ bio }}
             </div>

             <div class="col-sm-4">
             </div>

         </div>

     </div>
<div>
<div class="col-sm-2">
</div> 


</div> <!-- row ends -->
</div> <!-- container ends -->

    <div class="col-sm-2"></div>
</div>
</div>

<div style="margin-top:1.6em"></div>
<div class="container-fluid registration-form">
<div class="row">

    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
     <div class="container-fluid">
         <div class="row">
             <div class="col-sm-4">
              
                 <div class="loves">

<span>
                      <a href="/topics/{{ topic.id }}/attitude/1">          Я тоже люблю
                   {{ topic.name }}</a>

</span></div>
                <div class="loves-topic">

                           {% for love in lovers %}
                                  <div style="text-align:left;">
                                           <a href="/user/{{ love.user.id }}">{{ love.user.username }}</a>:
                                                                            {% for line in love.body_lines %}
                                                                                      {% if line|slice:"0:1" == '>' %}
                                                                                              <span style="font-weight:bold;"> | </span>
                                                                                              <span style="font-style:italic;">
                                                                                              {{ line|slice:"1:" }}
                                                                                      {% else %}
                                                                                              <span style="font-style:normal;">
                                                                                               {{ line|slice:"0:" }}
                                                                                      {% endif %}
                                                                                              </span>
                                                                                               <br/>
                                                                               {% endfor %}
                                  </div>
                           {% endfor %}

                 </div>
             </div> 
             

             <div class="col-sm-4">
                 <div class="mehs"><span><a href="/topics/{{ topic.id }}/attitude/2">Я тоже плевал на  {{ topic.name }}</a></span></div>
                 <div class="mehs-topic">
                           {% for meh in mehs %}
                                  <div style="text-align:left;">
                                          <a href="/user/{{ meh.user.id }}">{{ meh.user.username }}</a>:
                                                                            {% for line in meh.body_lines %}
                                                                                      {% if line|slice:"0:1" == '>' %}
                                                                                              <span style="font-weight:bold;"> | </span>
                                                                                              <span style="font-style:italic;">
                                                                                              {{ line|slice:"1:" }}
                                                                                      {% else %}
                                                                                              <span style="font-style:normal;">
                                                                                               {{ line|slice:"0:" }}
                                                                                      {% endif %}
                                                                                              </span>
                                                                                               <br/>
                                                                               {% endfor %}
                                  </div>
                           {% endfor %}
                 </div>
             </div>


             

             <div class="col-sm-4">
                 <div class="hates"><span><a href="/topics/{{ topic.id }}/attitude/3">
                                 Я тоже ненавижу 
                                 {{ topic.name }}
                           </a>
                  </div>
                 <div class="hates-topic">

                           {% for hate in haters %}
                                  <div style="text-align:left;">
                                         <a href="/user/{{ hate.user.id }}">{{ hate.user.username }}</a>: 
                                                                            {% for line in hate.body_lines %}
                                                                                      {% if line|slice:"0:1" == '>' %}
                                                                                              <span style="font-weight:bold;"> | </span>
                                                                                              <span style="font-style:italic;">
                                                                                              {{ line|slice:"1:" }}
                                                                                      {% else %}
                                                                                              <span style="font-style:normal;">
                                                                                               {{ line|slice:"0:" }}
                                                                                      {% endif %}
                                                                                              </span>
                                                                                               <br/>
                                                                               {% endfor %}
                                  </div>
                           {% endfor %}

                 </div>
             </div> 
             
                  
         </div>
     </div>
<div>
<div class="col-sm-2">
</div> 


</div> <!-- row ends -->
</div> <!-- container ends -->

    <div class="col-sm-2"></div>
</div>
</div>


{% endblock %}
