{% extends "base.html" %}
{% load static %}
{% load forum_extras %}
{% block content %}
<div>
<br />
<br />
<br />
</div>
<div class="container-fluid registration-form">
<div class="row">

    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
     <div class="container-fluid" style="background:#f6f6f6;border: 1px #979797 solid;margin-bottom:0.8em;">
         <div class="row neutral-messages" style="padding-top:1.2em; padding-bottom:0.5em;">
                <div class="col-sm-10">
                       <div class="container-fluid"> 

                            <div class="row">
                                  <div class="col-sm-4" style="font-weight:bold;font-size:1.1em;">
                                  Имя пользователя (ник)
                                  </div>

                                  <div class="col-sm-4">
                                              {{ explored_username }}
                                  </div>

                                  <div class="col-sm-4">
                                     {% if user.is_authenticated %}
                                            <a href="/private/send/{{ explored_user_id }}">
                                            Отправить приват
                                            </a>
                                     {% else %}

                                            <a href="/private/unauth/{{ explored_user_id }}">
                                                Отправить приват
                                           </a>

                                     {% endif %}
                                   </div>

                            </div> <!-- row ends -->


                            <div class="row" style="padding-top:0.5em; padding-bottom:0.6em;">
                                   <div class="col-sm-4" style="font-weight:bold;font-size:1.1em;">
                                       Имя и Фамилия
                                   </div>
                                   <div class="col-sm-4">
                                         {{ fullname }}
                                   </div>
                                   <div class="col-sm-4">
                                   </div>
                            </div>


                            <div class="row" style="padding-top:0.5em; padding-bottom:0.6em;">
                                   <div class="col-sm-4" style="font-weight:bold;font-size:1.1em;">
                                    Пользователь о себе:
                                   </div>
                                   <div class="col-sm-4">
                                          {{ bio }}
                                   </div>

                                   <div class="col-sm-4">
                                   </div>
                            </div>


                       </div> <!-- container ends -->

                </div> <!-- col sm 8 ends -->
                <div class="col-sm-2">
                       <div class="form-group" style="float:right;">
                          {% if profile_image_path %}
                            <img src="{{ profile_image_path }}" height="160" width="160"/>
                          {% elif not profile_image_path %}
                                 <img src="https://lovehate.io/media/default.png"  height="160" width="160" style="margin-right:-10px;"/>
                          {% endif %}
                       </div>

                </div>

</div> <!-- row ends -->
</div> <!-- container ends -->
</div>

    <div class="col-sm-2"></div>
</div>
</div>


<div class="container-fluid registration-form">
<div class="row">

    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
     <div class="container-fluid">
         <div class="row">
            <div class="col-sm-4 links-profile">
                   <a href="/forum/user/{{ explored_user_id }}"/> 
                          Все сообщения пользователя
                   </a>
            </div>
            <div class="col-sm-8 links-profile">


            </div>
         </div>

         <div class="row">
            <div class="col-sm-4 links-profile">
                   <a href="/blog/comments/user/{{ explored_user_id }}"/>
                      Все комментарии в дневниках
                   </a>
            </div>
            <div class="col-sm-8 links-profile">


            </div>
         </div>


         <div class="row">
            <div class="col-sm-4 links-profile">
                <a href="/blog/user/{{ explored_user_id }}"/>
                   Дневник пользователя
                </a>
            </div>
            <div class="col-sm-8 links-profile">
                           {% for post in posts %}
                                  <a href="/blog/{{ post.id }}">{{ post.subject }}</a>
                                  {% if not forloop.last %},{% endif %}&nbsp;
                           {% endfor %}


            </div>
         </div>


        {% if friends.count > 0 %}

         <div class="row">
            <div class="col-sm-4">
                   Друзья
            </div>
            <div class="col-sm-8 relationship">
                 {% for friend in friends %}
                    <a href="/user/{{ friend.acceptor.id }}/">{{ friend.acceptor.username }}</a> &nbsp;
                 {% endfor %}

            </div>
         </div>
        {% endif %}


         {% if friended.count > 0 %}
         <div class="row">
            <div class="col-sm-4">
Считают другом
            </div>
            <div class="col-sm-8 relationship">

                 {% for friend in friended %}
                    <a href="/user/{{ friend.initiator.id }}/">{{ friend.initiator.username }}</a> &nbsp;
                 {% endfor %}


            </div>
         </div>
         {% endif %}
        
         {% if enemies.count > 0 %}
         <div class="row">
            <div class="col-sm-4">
               Враги
            </div>
            <div class="col-sm-8 relationship">
                 {% for enemy in enemies %}
                    <a href="/user/{{ enemy.acceptor.id }}/">{{ enemy.acceptor.username }}</a> &nbsp;
                 {% endfor %}

            </div>
         </div>
         {% endif %}


         {% if enemied.count > 0 %}
         <div class="row">
            <div class="col-sm-4">
Считают врагом
            </div>
            <div class="col-sm-8 relationship">
                 {% for enemy in enemied %}
                    <a href="/user/{{ enemy.initiator.id }}/">{{ enemy.initiator.username }}</a> &nbsp;
                 {% endfor %}


            </div>
         </div>
        {% endif %}


         <div class="row">
                 <br/>
         </div>

         <div class="row">
             <div class="col-sm-4">
                 {% if loves.count > 0 %}
                 <div class="loves column-header" style="font-size:1.2em;">
                         <strong>
                              <span>Любит</span>
                         </strong>
                 </div>
                 <div class="loves-profile">

                           {% for love in loves %}
                                  <div style="text-align:center;"><a href="/topics/{{ love.id }}">{{ love.name }} ({% topic_meta love.id user_id 1 %}) </div>
                           {% endfor %}

                 </div>
                 {% endif %}
             </div> 
             

             <div class="col-sm-4">
                 {% if mehs.count > 0 %}
                 <div class="mehs column-header">
                           <strong>
                             <span>Безразличен к
                             </span>
                           </strong>
                 </div>

                 <div class="mehs-profile">
                           {% for meh in mehs %}
                                  <div style="text-align:center;"><a href="/topics/{{ meh.id }}">{{ meh.name }} ({% topic_meta meh.id user_id 2 %})</a></div>
                           {% endfor %}
                 </div>
                 {% endif %}
             </div>



             <div class="col-sm-4">
                 {% if hates.count > 0 %}

                 <div class="hates column-header">
                        <strong>
                             <span>

Ненавидит

                             </span>
                       </strong>
                 </div>
                 <div class="hates-profile">

                           {% for hate in hates %}
                                  <div style="text-align:center;"><a href="/topics/{{ hate.id }}">{{ hate.name }} ({% topic_meta hate.id user_id 3 %})</a></div>
                           {% endfor %}

                 </div>
                 {% endif %}
             </div> 
             
                  
         </div>
     </div>
<div>
<div class="col-sm-2">
</div> 


</div> <!-- row ends -->
</div> <!-- container ends -->

    <div class="col-sm-2"></div>
</div>
</div>


{% endblock %}
