{% extends "base.html" %}
{% load static %}
{% load forum_extras %}
{% block content %}
<div>
<br />
<br />
<br />
</div>
<div class="container-fluid registration-form">
<div class="row">

    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
     <div class="container-fluid" style="background:#f6f6f6;border: 1px #979797 solid;">
         <div class="row">
             <div class="col-sm-4">
                 Имя пользователя (ник)
             </div>

             <div class="col-sm-4">
                  {{ explored_username }}
             </div>

             <div class="col-sm-4">
             </div>

         </div>
         <div class="row">
             <div class="col-sm-4">
                  Полное имя или имя собственное
             </div>
             <div class="col-sm-4">
                 {{ fullname }}
             </div>

             <div class="col-sm-4">
             </div>

         </div>

         <div class="row">
             <div class="col-sm-4">
Пользователь о себе
             </div>
             <div class="col-sm-4">
                 {{ bio }}
             </div>

             <div class="col-sm-4">
             </div>

         </div>

     </div>
<div>
<div class="col-sm-2">
</div> 


</div> <!-- row ends -->
</div> <!-- container ends -->

    <div class="col-sm-2"></div>
</div>
</div>


<div class="container-fluid registration-form">
<div class="row">

    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
     <div class="container-fluid">
         <div class="row">
             <div class="col-sm-4">
                 <div class="loves"><span>Любит</span></div>
                 <div class="loves-profile">

                           {% for love in loves %}
                                  <div style="text-align:center;"><a href="/topics/{{ love.id }}">{{ love.name }} ({% topic_meta love.id user_id 1 %}) </div>
                           {% endfor %}

                 </div>
             </div> 
             

             <div class="col-sm-4">
                 <div class="mehs"><span>Безразличен к</span></div>
                 <div class="mehs-profile">
                           {% for meh in mehs %}
                                  <div style="text-align:center;"><a href="/topics/{{ meh.id }}">{{ meh.name }} ({% topic_meta meh.id user_id 2 %})</a></div>
                           {% endfor %}
                 </div>
             </div>


             

             <div class="col-sm-4">
                 <div class="hates"><span>Ненавидит</span></div>
                 <div class="hates-profile">

                           {% for hate in hates %}
                                  <div style="text-align:center;"><a href="/topics/{{ hate.id }}">{{ hate.name }} ({% topic_meta hate.id user_id 3 %})</a></div>
                           {% endfor %}

                 </div>
             </div> 
             
                  
         </div>
     </div>
<div>
<div class="col-sm-2">
</div> 


</div> <!-- row ends -->
</div> <!-- container ends -->

    <div class="col-sm-2"></div>
</div>
</div>


{% endblock %}
